*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Overpass";
}
@font-face {
  font-family: "Overpass";
  src: url(/assets/webfonts/Overpass-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Ubuntu";
  src: url(/assets/webfonts/Ubuntu-Regular.ttf);
}
:root {
  --primary-font: "Overpass";
  --secondary-font: "Ubuntu";
  --light-red-text: hsl(356, 100%, 66%);
  --hover-background-light-red: hsl(355, 100%, 74%);
  --headings-color: hsl(208, 49%, 24%);
  --neutral-color: #fff;
  --footer-text-color: hsl(240, 2%, 79%);
  --footer-background-color: hsl(240, 10%, 16%);
  --light-red-background: hsl(353, 100%, 62%);
  --very-light-red-background: hsl(13, 100%. 72%);
  --very-dark-gray-blue: hsl(237, 17%, 21%);
  --very-dark-desaturated-blue: hsl(237, 23%, 32%);
  --body-text-color: hsl(207, 13%, 34%);
}
img {
  max-width: 100%;
}
.container {
  width: 90%;
  margin: 0 auto;
}
a:link {
  color: #fff;
  text-decoration: none;
}
a:visited {
  color: #fff;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.hidden {
  display: none;
}
body {
  overflow-x: hidden;
}
header {
  background: linear-gradient(
    to bottom,
    hsl(13, 100%, 72%),
    hsl(353, 100%, 62%)
  );
  background-image: url("/images/bg-pattern-intro-mobile.svg"),
    linear-gradient(to bottom, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
  background-repeat: no-repeat;
  background-size: 45em;
  background-position: top center;
  border-bottom-left-radius: 6em;
  padding: 2em 1em;
  text-align: center;
}
/* NAVIGATION BAR STYLING */
.desktop-nav {
  display: none;
}
.mobile-nav {
  /* border: 3px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.nav-btn {
  cursor: pointer;
  position: relative;
}
.btn-close {
  position: absolute;
  top: 0;
  left: 0;
}
.navigation-bar {
  position: absolute;
  top: 4em;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  /* border: 3px solid black; */
}
.navigation-bar a {
  color: var(--headings-color);
}
.primary-nav,
.secondary-nav {
  background-color: #fff;
  text-align: center;
}
.primary-nav {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 0px 30px 5px rgba(0, 0, 0, 0.1);
}
.product,
.company,
.connect {
  text-align: center;
  width: 90%;
}
.connect {
  padding-bottom: 2em;
}
.main {
  display: flex;
  gap: 1em;
  justify-content: center;
  align-items: center;
}
.h-text {
  font-size: 1.5em;
}
.arrows {
  display: flex;
  position: relative;
}
.arrow-up {
  position: absolute;
  visibility: hidden;
}
.sub {
  display: flex;
  flex-direction: column;
  background-color: #ddd;
  font-size: 1.3em;
  border-radius: 10px;
  margin: 1em 0;
  padding: 1em 0;
  display: none;
}
.connect {
  border-bottom: 1px solid #ddd;
}
.sub a {
  margin: 0.5em 0;
}
.secondary-nav {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-top: -10px;
  padding: 1em;
  box-shadow: 0px 15px 30px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}
.login {
  color: var(--headings-color);
  font-weight: 600;
  font-size: 1.5em;
  margin-bottom: 1em;
}
.btn-signup {
  width: 70%;
  padding: 1em 0;
  background: linear-gradient(
    to right,
    hsl(13, 100%, 72%),
    hsl(353, 100%, 62%)
  );
  border-radius: 30px;
  border: none;
  cursor: pointer;
  color: var(--neutral-color);
  font-size: 1.3em;
}
.btn-signup:hover {
  background: hsl(355, 100%, 74%);
}
/* HERO SECTION STYLING */
.hero {
  margin: 4em 0;
}
.hero-text {
  color: var(--neutral-color);
  font-weight: 400;
  font-size: 2.1em;
  line-height: 1.3em;
}
.hero-subtext {
  color: var(--neutral-color);
  font-weight: 300;
  font-size: 1.1em;
  margin: 1em 0;
}
.hero-buttons {
  margin: 1em 0;
  display: flex;
  gap: 1em;
  justify-content: space-around;
  margin-bottom: 2em;
}
.btn-start {
  width: 50%;
  padding: 0.7em 0;
  border-radius: 30px;
  border: none;
  color: var(--light-red-text);
  font-weight: 700;
  font-size: 1.1em;
  cursor: pointer;
}
.btn-learn {
  width: 50%;
  padding: 0.7em 0;
  border-radius: 30px;
  border: 1px solid #fff;
  color: var(--neutral-color);
  background-color: rgba(255, 255, 255, 0);
  font-weight: 700;
  font-size: 1.1em;
  cursor: pointer;
}
.btn-start:hover {
  background-color: var(--hover-background-light-red);
  color: var(--neutral-color);
}
.btn-learn:hover {
  background-color: var(--neutral-color);
  color: var(--hover-background-light-red);
}

/* FUTURE SECTION STYLING */
.future {
  padding: 3em 0;
  text-align: center;
  margin: 1em 0;
}
.future-text {
  color: var(--headings-color);
  font-size: 1.7em;
  margin: 1em 0;
}
.header-text {
  color: var(--headings-color);
  font-size: 2em;
  line-height: 1.1em;
  margin: 1em 0;
}
.text {
  color: var(--body-text-color);
  line-height: 1.7em;
}

/* INFRASTRUCTURE SECTION STYLING */
.infrastructure {
  text-align: center;
  background-image: url("/images/bg-pattern-circles.svg"),
    linear-gradient(
      to right,
      var(--very-dark-gray-blue),
      var(--very-dark-desaturated-blue)
    );
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top left;
  border-top-right-radius: 5em;
  border-bottom-left-radius: 5em;
  position: relative;
  margin-top: 15em;
  padding: 6em 0;
  color: var(--neutral-color);
  font-weight: 400;
}
.phones {
  position: absolute;
  left: 0;
  top: -11em;
  right: 0;
  bottom: 0;
}
.state-text {
  margin: 4em 0 1em 0;
  font-weight: 400;
  font-size: 2em;
}
.state-subtext {
  font-weight: 300;
  line-height: 1.7em;
}

/* FREE SECTION STYLING */
.free {
  text-align: center;
  margin: 2em 0;
}

/* FOOTER STYLING */
footer {
  background-color: var(--footer-background-color);
  border-top-right-radius: 5em;
  padding: 2em 0;
  text-align: center;
  color: var(--neutral-color);
  font-weight: 300;
}
.footer-logo {
  margin: 2em 0;
}
.big-text {
  font-weight: 400;
  font-size: 1.2em;
  margin: 2em 0;
}
.footer h3 {
  color: var(--footer-text-color);
  font-size: 1.2em;
  font-weight: 300;
  margin: 0.5em 0;
}

/* ATRRIBUTION STYLING */
.attribution {
  font-size: 11px;
  text-align: center;
  margin: 2em 0;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Desktop design - 500px */
@media (min-width: 500px) {
  header {
    background: linear-gradient(
      to bottom,
      hsl(13, 100%, 72%),
      hsl(353, 100%, 62%)
    );
    background-image: url("/images/bg-pattern-intro-desktop.svg"),
      linear-gradient(to bottom, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
    background-repeat: no-repeat;
    background-size: 100em;
    background-position: center;
  }
  /* NAVIGATION BAR STYLING */
  a:link {
    font-size: 0.9em;
  }
  a:visited {
    font-size: 1em;
  }
  .mobile-nav {
    display: none;
  }
  .desktop-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3em;
  }
  .desktop-primary-nav {
    display: flex;
    gap: 2em;
    align-items: center;
  }
  .links {
    display: flex;
    gap: 1.5em;
  }
  .desktop-product,
  .desktop-company,
  .desktop-connect {
    position: relative;
  }
  .desktop-main-link {
    display: flex;
    gap: 0.5em;
    align-items: center;
  }
  .desktop-arrows {
    display: flex;
    position: relative;
  }
  .desktop-arrow-up {
    position: absolute;
    display: none;
  }
  .desktop-sub-links {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 3em;
    left: -1em;
    text-align: left;
    background-color: var(--neutral-color);
    padding: 1em;
    border-radius: 10px;
    box-shadow: 1px 3px 10px 4px rgba(0, 0, 0, 0.4);
    display: none;
  }
  .desktop-sub-links a {
    color: var(--headings-color);
    margin: 0.2em 0;
  }
  .desktop-sub-links a:hover {
    font-weight: 900;
  }
  .desktop-secondary-nav {
    display: flex;
    align-items: center;
    gap: 1em;
  }
  .btn-desk-signup {
    padding: 0.7em 2em;
    border: none;
    border-radius: 20px;
    background-color: var(--neutral-color);
    color: var(--light-red-text);
    font-weight: 700;
    cursor: pointer;
  }
  .btn-desk-signup:hover {
    color: var(--neutral-color);
    background-color: var(--hover-background-light-red);
  }

  /* HERO SECTION STYLING */
  .hero {
    width: 60%;
    margin: 5em auto;
  }
  .hero-text {
    font-size: 3em;
  }
  .hero-buttons {
    width: 40%;
    margin: 0 auto;
  }

  /* FUTURE SECTION STYLING */
  .future {
    text-align: left;
    background: url(/images/illustration-editor-desktop.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 37em;
  }
  .mobile-editor {
    display: none;
  }
  .future-text {
    text-align: center;
  }
  .editor,
  .robust {
    width: 50%;
  }
  .robust {
    margin-bottom: 3em;
  }

  /* INFRASTRUCTURE SECTION STYLING */
  .infrastructure {
    margin-top: -2px;
    background-image: url("/images/bg-pattern-circles.svg"),
      linear-gradient(
        to right,
        var(--very-dark-gray-blue),
        var(--very-dark-desaturated-blue)
      );
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left center;
  }
  .phones {
    top: -4em;
  }
  .ss {
    width: 50%;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  /* FREE SECTION STYLING */
  .mobile-laptop {
    display: none;
  }
  .free {
    text-align: left;
    /* background: url(/images/illustration-laptop-desktop.svg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 37em; */
    padding: 7em 0;
    display: flex;
  }
  .desktop-laptop {
    width: 100%;
    margin-left: -9.5em;
  }
  .secondary {
    width: 90%;
  }

  /* FOOTER SECTION STYLING */
  .footer {
    display: flex;
    justify-content: space-between;
    padding: 0 9em 0 5em;
  }
}
